:root {
  --bs-primary: #6610f2;
  --text-primary: #6610f2;
  --bs-btn-bg: #6610f2;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}